#results{
-webkit-column-count: 4;
-moz-column-count: 4;
column-count: 4;
-webkit-column-gap: 50px;
-moz-column-gap: 50px;
column-gap: 50px;
-webkit-column-rule: 1px solid transparent;
-moz-column-rule: 1px solid transparent;
column-rule: 1px solid transparent;
};

