.backBtn{
    transform:rotate(-90deg);
    top: 3%;
    position: fixed;
    background-color: black;
    color: whitesmoke;
    height: auto;
    width:fit-content;
    left:0;
    margin-left:0px;
    
}

#refreshBtn{
    right: 0;
    top: 3%;
    position: absolute;
    transform:rotate(90deg);
    height: auto;
    width:fit-content;
    padding: 1px;
}

.navBar {
    height: 100%;
    width: 6%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    padding: 1px 1px;
    color: white;
}

.rightPanel{
    height: 100%;
    width: 6%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    padding: 1px 1px;
    color: white;
}


body {
    text-align: center;
    font-weight: bolder;
    font-size: large;
    width: 100vw;
    height: 50vh;
    color: whitesmoke;
    margin: auto;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#heading{
    width: 100vw;
    text-align: center;
}

form{
    width: 50%;
    position: relative;
    height: 50px;
}

.fullscreen input{
    text-align: center;
    width: 100%;
    height: 100%;
    color: #595f6e;
    padding-top: 20px;
    border: none;
}

.label-name{
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 2px solid gray;
}
