
.fullscreen {
    font-weight: bolder;
    font-size: large;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    margin: auto;
    padding: 1px;
}

.navBar{
    bottom: 0;
    margin: .1%;
}

#backward{
    float: left;
    bottom: 0;
}

#forward{
    float: right;
    bottom: 0;
}

input{
    float: right;
    right: 40%;
    clear: both;
}

body {
    background-image: url("sushi.png");
}
